.card {
  background-color: #b9dfff;
  border-radius: 8px;
  padding: 10px;
  margin-bottom: 20px;
  display: flex;
}

.card-image {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 30px;
}

.card-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card-header {
  font-weight: 500;
  margin-bottom: 5px;
}

.card-subheader {
  color: #888;
  margin-bottom: 5px;
  font-weight: 500;
}

.card-time {
  margin-left: auto;
  color: #2287FF;
  font-weight: 800;
}

.transparent {
  color: rgba(0,0,0,0);
}