.large-div {
    height: 66.66%;
    background-color: lightblue;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .upper-section {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .text-block {
    text-align: left;
    margin-bottom: 20px;
  }
  
  .status {
    display: flex;
    align-items: center;
    justify-content: center;
  }

#profile-picture {
  margin-right: 20px;
}